{% extends 'base.html.twig' %}

{% block stylesheets %}

{% endblock %}

{% block title %}Hello OpenstreetmapController!{% endblock %}




{% block body %}

    <h1>Hello  ✅</h1>

    Affichage de la carte :

    {% include "openstreetmap/openstreetmap.html.twig" %}



    {% block javascripts %}

    {% endblock %}


{% endblock %}


