{% extends 'base.html.twig' %}

{% block stylesheets %}

    <!-- <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <link rel="stylesheet" href="{{ asset('node_modules/leaflet/dist/leaflet.css') }}"/>
    <script src="{{ asset('node_modules/leaflet/dist/leaflet.js') }}"></script> -->


    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>

    <script src="{{ asset('json/recup-verre.geojson') }}"></script>

    <script>



        window.onload = function () {
            console.log('Page chargée ');

            var map = L.map('map').setView([43.6005, 1.3472], 11);
            var titleStreets = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
                maxZoom: 18,
                id: 'mapbox.streets',
                accessToken: 'pk.eyJ1IjoiMTY5NTciLCJhIjoiY2pzcHhodDB5MHF4YjQzbzA3dHByb3V2ZiJ9.CiBSDPowlgXwoiRjIlhTKg'
            }).addTo(map);

            // L.marker([43.597743300081525, 1.484948325807597]).addTo(map);
            // for (var i=0; i < verre.length; i++){
            //     L.marker([verre[i].coordinates[0],verre[i].coordinates[1]]).addTo(map);


            // Add baseLayers to the map
            geojson = L.geoJson(Verre, {
                style: function (feature) {
                    return feature.properties && feature.properties.style;
                },
                pointToLayer: function (feature, latlng) {
                    var marker = L.marker(latlng);
                    marker.bindPopup('<b><u>Description de la benne</u></b><br>'
                        + '<b>Commune:</b>' + feature.properties.commune + '<br>'
                        + '<b>Adresse : </b>' + feature.properties.adresse + '<br>'
                        + '<b>Code commune : </b>' + feature.properties.code_com + '<br>'
                    );
                    return marker;

                }
            }).addTo(map);
        }




    </script>

{% endblock %}

{% block title %}Hello OpenstreetmapController!{% endblock %}

{% block body %}

    <h1>Hello {{ controller_name }}! ✅</h1>

    Affichage de la carte :





    <div id="map" style="height: 400px"></div>


    <div id="texte"> </div>



    {% block javascripts %}



    {% endblock %}


{% endblock %}


