{% extends 'base.html.twig' %}

{% block stylesheets %}

    <!-- <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <link rel="stylesheet" href="{{ asset('node_modules/leaflet/dist/leaflet.css') }}"/>
    <script src="{{ asset('node_modules/leaflet/dist/leaflet.js') }}"></script> -->


    <!--  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" /> -->
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>


    <script src='https://api.mapbox.com/mapbox.js/v3.2.0/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v3.2.0/mapbox.css' rel='stylesheet'/>

    <script src='https://api.mapbox.com/mapbox.js/plugins/mapbox-directions.js/v0.4.0/mapbox.directions.js'></script>
    <link rel='stylesheet'
          href='https://api.mapbox.com/mapbox.js/plugins/mapbox-directions.js/v0.4.0/mapbox.directions.css'
          type='text/css'/>



    <script src="{{ asset('json/recup.js') }}"></script>

    <style>
        .popup-fixed {
            position: fixed;
            top: auto;
            bottom: 0;
            left: 0 !important;
            right: 0 !important;
            transform: none !important;
            margin: 0;
            border-radius: 0;
        }


        #directions {
            position: absolute;
            width: 33.3333%;
            max-width: 300px;
            min-width: 200px;
        }

        #inputs {
            z-index: 99;
            top: 8px;
            right: 21px;
            /* left: 10px; */
            position: absolute;
        }

        #directions {
            z-index: 99;
            background: rgba(0, 0, 0, .8);
            top: 124px;
            right: 0;
            bottom: 0;
            overflow: auto;
            height: 284px;
        }

        #errors {
            z-index: 8;
            opacity: 0;
            padding: 10px;
            border-radius: 0 0 3px 3px;
            background: rgba(0, 0, 0, .25);
            top: 90px;
            left: 10px;
        }


    </style>



    <script>
        window.onload = function () {

            // mise en place de la map
            L.mapbox.accessToken = 'pk.eyJ1IjoiMTY5NTciLCJhIjoiY2pzcHhodDB5MHF4YjQzbzA3dHByb3V2ZiJ9.CiBSDPowlgXwoiRjIlhTKg';
            var map = L.mapbox.map('map')
                .setView([43.6206, 1.5484], 11)
                .addControl(L.mapbox.geocoderControl('mapbox.places', {
                    autocomplete: true
                }))
                .addLayer(L.mapbox.styleLayer('mapbox://styles/mapbox/streets-v11'));


            // move the attribution control out of the way
            map.attributionControl.setPosition('bottomright');

            // create the initial directions object, from which the layer
            // and inputs will pull data.
            var directions = L.mapbox.directions();

            var directionsLayer = L.mapbox.directions.layer(directions)
                .addTo(map);

            var directionsInputControl = L.mapbox.directions.inputControl('inputs', directions)
                .addTo(map);


            var directionsRoutesControl = L.mapbox.directions.routesControl('routes', directions)
                .addTo(map);

            var directionsInstructionsControl = L.mapbox.directions.instructionsControl('instructions', directions)
                .addTo(map);


            var pane = map.createPane('fixed', document.getElementById('map'));

            // ajout de l'image : logo sur le marker
            //  var icon = L.icon({
            //    iconUrl: 'img/verre.png',
            //   iconSize: [45, 40], // size of the icon
            // });


            // Ajout des markers sur la map par rapport au fichier geojson
            geojson = L.geoJson(Verre, {
                style: function (feature) {
                    return feature.properties && feature.properties.style;
                },
                pointToLayer: function (feature, latlng) {
                    var marker = L.marker(latlng);
                    // Detail du Popup
                    var popup = L.popup({
                        pane: 'fixed',
                        className: 'popup-fixed',
                        autoPan: false,
                    }).setContent('<b><u>Description de la benne</u></b><br>'
                        + '<b>Adresse : </b>' + feature.properties.adresse + '<br>'
                        + '<b>Commune:</b>' + feature.properties.commune + '<br>'
                        + '<b>Code commune : </b>' + feature.properties.code_com + '<br>');

                    marker.bindPopup(popup);
                    return marker;
                }
            }).addTo(map);

            // ajout de la géolocalisation
            map.locate({setMarker: true, watch: true}) /* This will return map so you can do chaining */
                .on('locationfound', function (e) {
                    var circle = L.circle([e.latitude, e.longitude], e.accuracy / 2, {
                        weight: 1,
                        color: '#ffb045',
                        fillColor: '#ff7800',
                        fillOpacity: 0.2
                    });
                    map.addLayer(circle);
                })
                .on('locationerror', function (e) {
                    console.log(e);
                    alert("Location access denied.");
                });


        }
    </script>


{% endblock %}

{% block title %}Hello OpenstreetmapController!{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div id="map" style="height: 400px"></div>
            </div>
        </div>
    </div>
    <div id='inputs'></div>
    <div id="calcul">
        <div id='directions'>
            <div id='routes'></div>
            <div id='instructions'></div>
        </div>
    </div>

    {% block javascripts %}

    {% endblock %}


{% endblock %}


