

{% extends 'base.html.twig' %}



{% block title %}Hello OpenstreetmapController!{% endblock %}

{% block body %}



    <form action="/trash" method="post">
        <input type="text" name="name">
        <input type="submit">

    </form>
    <div class="trash">

    </div>





    {% block javascripts %}



    {% endblock %}


{% endblock %}


